.input {
  background-color: pink;
}

.fileInput {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;

  position: absolute;


}
