.input {
  background-color: pink;
}

.fileInput {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  position: absolute;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 245px;
  width: 326px;

  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

div.previewComponent {
  border-bottom: 0 none !important;
  box-shadow: none;
  background-color: white;
  position: absolute;
}
